*
{
    border-color: #dedede;
}

body
{
    font-family: georgia, serif;
    font-size: 1em;
    color: #050505;
}

#wrapper
{
    margin: 0 auto;	
}

.page
{
    position: relative;
    width: 940px;
}

#header
{
    padding-top: 0;
    padding-bottom: 0.5em;
}

#menu
{
    font-size: 0.9em;
    font-weight: bold;
    border-top-width: 0.1em;
    border-top-style: solid;
    background: #F5F5F5;
}

#search {
	float:right;
}

.clear
{
    clear: both;
}

#breadcrumbs ul, li
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#breadcrumbs
{
    overflow: auto;
    font-size: 0.8em;
    font-weight: bold;
    border-top-width: 0.1em;
    border-top-style: solid;
    border-bottom-width: 0.15em;
    border-bottom-style: solid;
    height: 2.1em;
}

#breadcrumbs li
{
    float: left;
    line-height: 2.1em;
    padding-left: .25em;
    color: #707070;
}

#breadcrumbs li a
{
    display: block;
    padding: 0em 1em 0em 0em;
/*
    background: url(http://xml-cml.org/images/crumbs.gif) no-repeat right center;
*/
    background: url(/images/crumbs.gif) no-repeat right center;
}
#breadcrumbs li a:link, #breadcrumbs li a:visited
{
    text-decoration: none;
    color: #707070;
}
#breadcrumbs li a:hover, #breadcrumbs li a:focus
{
    color: #FF9900;
}
#breadcrumbs li
{
    color: #FF9900;
}


#content
{
    text-align: left;
    padding: 0em 0.5em 1.4em 0.5em;
	min-height: 20em;
	margin-bottom: 0.7em;
}

#content p {
	clear: left;
	margin: 0 0 0.6em
}

#content h1 {
	clear: both;
	margin: 0 0 0.2em;
	font-size: 1.5em;
	font-weight:bold;
}

#content h1.invalid {
text-align:center;
background-color:#D23D24 !important;
color:white !important;
}

#content h1.warnings {
text-align:center;
background-color:#F4A460;
color:white;
}

#content h1.valid { 
text-align:center;
background-color:#55B05A;
color:white;
}

#content h2 {
	clear: both;
	margin: 0 0 0.2em;
	font-size: 1.05em;
	font-weight:bold;
}



#content ul {
margin: 0.5em;
padding-bottom:0.6em;
}

#content li
{
list-style-position: inside;
list-style-type: disc;
padding-left: 0.3em; 
clear:left;
}

#content ol {
margin: 0.5em;
padding-bottom:0.6em;
}

#content ol li
{
list-style-position: inside;
list-style-type: decimal;
padding-left: 0.3em; 
clear:left;
}

div.figure {
margin-top:0px;
margin-bottom:4px;
padding:0;
}

div.figure p {
margin-bottom:0;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}


.center {
	width:833px;
	margin-left:auto;
	margin-right:auto;
}

form {
	text-align:left;
}
form textarea {
	font-family: consolas, monospace;
	font-size:0.9em;
	border-style:solid;
	border-width:0.15em;
}
form input {
	margin-top:0.7em;
	margin-bottom:0.7em;
	float: right;
	padding:0.2em;	
}

form label {
	font-weight:bold;
}

#errors li h3
{
display:inline;
font-weight:bold;
}

#warnings li h3
{
display:inline;
font-weight:bold;
}

#valid li h3
{
display:inline;
font-weight:bold;
}

#content li p.description
{
display:inline;
padding-left: 0.1em; 
}

#content li p.location
{
border-style:dashed;
border-width:0.2em;
font-family:consolas,monospace;
font-size:0.7em;
padding:0.2em 1.7em;
}

#content code {
	font-family: consolas, monospace;
}

#content pre.code {
	font-family: consolas, monospace;
	border-style:dashed;
	border-width:0.15em;
	font-size:0.9em;
	padding-bottom:0.15em;
	padding-top:0.15em;
	display:block;
}

#content a:link, a:visited
{
    text-decoration: none;
	color: #0000FF;
}

#content a:hover, a:focus
{
    text-decoration: underline;
	color: #0000FF;
}

#content a.internal-link {
    text-decoration: none; 
    color: #050505;
    
}

#errors h2 {
	color: #ff0000;
}

#warnings h2 {
	color: #F4A460;
}

#tests h2 {
	color: #55B05A;
}



#footer
{
    color: #707070;
    border-top: 0.2em solid #dedede;
    clear: both;
    padding-bottom: 2em;
    padding-top: 0.5em;
    font-weight: bold;
    line-height: 0.9;
    font-size: 0.8em;
}

#footer-links ul
{
    display: block;
    white-space: nowrap;
    width: auto;
}

#footer-links ul li
{
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#footer-links li a:link, #footer-links li a:visited
{
    color: #777;
}

#footer-links li a:hover, #footer-links li a:focus
{
    text-decoration: none;
    color: #2F4F4F;
    background-color: #DCDCDC;
}

#footer-links ul li a
{
    padding-left: 0.5em;
    border-right: 0.1em solid #BEBEBE;
    text-decoration: none;
    padding: 0.2em 0.5em;
}

#footer-links ul li.last a
{
    border-right: none;
}


#footer-copywrite
{
    float: right;
    padding-right: 0.5em;
}
