RewriteEngine on 
RewriteBase /unit/

RewriteRule ^si$ si.cml
RewriteRule ^si/$ si.cml

RewriteRule ^nonSi$ nonSi.cml
RewriteRule ^nonSi/$ nonSi.cml



RewriteRule ^unitType$ unitType.cml
RewriteRule ^unitType/$ unitType.cml
