@charset "utf-8";
/* CSS Document */
#XMLHolder {
	font-family: consolas, monospace;
}

.Comment {
	color: green;
	font-style: italic;
}
.Utility {
		color: black;
}	
.NodeName {
	font-weight:bold;
	color: #800080;	
}
.AttributeName 
{
	font-weight:bold;
	color: black;
}
.AttributeValue
{
	color:blue;
}
.NodeValue
{
	color: black;
}
.Element {
	padding-top:0px;
	margin-top:0.03em;
}
.Clickable {	
	font-weight:900;
	font-size:large;
	color: #800080;	
	cursor:pointer;
	vertical-align:middle;
}