RewriteEngine on 
RewriteBase /dictionary/

RewriteRule ^cml/$          cml/dictionary.cml

RewriteRule ^cml/formula/$  cml/formula/dictionary.cml
RewriteRule ^cml/group/$    cml/group/dictionary.cml
RewriteRule ^cml/name/$     cml/name/dictionary.cml

RewriteRule ^cif/$          cif/dictionary.cml

RewriteRule ^compchem/$     compchem/dictionary.cml

